@use "promenne";

.header {
  top: 0;
  left: 0;
  background: white;
  width: 100%;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  height: 60px;
}

.menu__checkbox {
  position: absolute;
  left: -9999px;
}
.menu__toggler {
  cursor: pointer;
  font-size: large;
  border: solid 2px black;
  padding: 5px 10px;
  margin-right: 20px;

  @media screen and (min-width: 980px) {
    display: none;
  }
}
.menu__item {
  padding: 10px;
  text-align: center;
  @media screen and (max-width: 979px) {
    &:hover {
      background-color: #bdb172f8;
    }
  }
  @media screen and (max-width: 350px) {
    border-bottom: solid 1px promenne.$secondarycolor;
  }
}

.menu {
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-evenly;
}
.menu__list {
  list-style: none;
  display: flex;
  position: relative;
  margin-right: 20px;

  @media screen and (max-width: 979px) {
    display: none;
    position: absolute;
    top: 65px;
    right: -2%;
    background-color: white;
    width: 120px;
  }
  @media screen and (max-width: 350px) {
    width: 350px;
    top: 60px;
    right: -40px;
    z-index: 500;
    padding-top: 20px;
    height: 100vh;
  }
}

@media screen and (max-width: 979px) {
  .menu__checkbox:checked ~ .menu__list {
    display: block;
  }
}

.menu__link {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-family: promenne.$textfont;
  letter-spacing: 1px;

  @media screen and (min-width: 980px) {
    &:after {
      display: block;
      content: "";
      border-bottom: solid 3px promenne.$secondarycolor;
      transform: scaleX(0);
      transition: transform 300ms ease-in-out;
    }
    &:hover:after {
      transform: scaleX(1);
    }
  }
  @media screen and (max-width: 979px) {
    font-size: 14px;
  }
}

.menu__link:active {
  background-color: #bdb172f8;
}
.active-btn {
  color: promenne.$secondarycolor;
}
.logo {
  position: relative;
  z-index: 600;
}
.logo__img {
  position: absolute;
  top: -20px;
  left: 20px;
  max-height: 120px;

  @media screen and (max-width: 1000px) {
    max-height: 80px;
  }
}

.logo__soc {
  height: 30px;
  padding-right: 20px;
  @media screen and (max-width: 350px) {
    height: 20px;
  }
}
