<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">
    <meta name="description" content={{description}}>

  </head>
  <body>
    <!-- Hlavička -->

    <header class="header">
      <div class="logo">
        <a href="/"
          ><img class="logo__img" src="/images/logo1.png" alt="Octopus"
        /></a>
      </div>
      <nav class="menu">
        <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
        <label for="menu-checkbox" class="menu__toggler">☰</label>
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link active-btn" href="/">Domů</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/onas/">O nás</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Koncerty</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/hudba/">Hudba</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/foto/">Foto</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/programy/">Programy</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/kontakt/">Kontakt</a>
          </li>
        </ul>
        <a href="https://www.facebook.com/octopusvocalis/" target=" _blank"
          ><img class="logo__soc" src="/images/001-facebook.png" alt="Octopus"
        /></a>
        <a
          href="https://www.youtube.com/channel/UC4Zn72qlfGYcK1cUdeUIOfg/"
          target=" _blank"
          ><img class="logo__soc" src="/images/002-youtube.png" alt="Octopus"
        /></a>
      </nav>
    </header>

    <main class="main">

		{{ content | safe }}

	</main>

     <footer class="footer">
      © 2022 Octopus Vocalis | All Rights Reserved.
    </footer>
    <script src="/fslightbox.js"></script>
  </body>
</html>
